debian/stsbl-iserv-cron-reload/*
debian/stsbl-iserv-cron-reload.substvars
debian/stsbl-iserv-cron-reload.debhelper.log
debian/files
debian/debhelper-build-stamp
/Makefile.iservmake
/locale
/system-locale
!/locale/templates/*_misc.pot
